//-------------------------------FONTS----------------------------------------
$font-Myriad: ﻿"AdobeInvisFont", "MyriadPro", sans-serif;
$font-Lato: "AdobeInvisFont", "Lato", sans-serif;
$font-Montserrat:"AdobeInvisFont", "Montserrat", sans-serif;

//-------------------------------------COLORS---------------------------
$color-main: #8d81ac;
$color-navbar: #27262a;  /*color of navbar panel*/


